/** Variable Imports **/
@import './variables.css';

/**
  CSS Reset
  Source: https://www.joshwcomeau.com/css/custom-css-reset/
**/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/** Your CSS Below **/

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--fs-base);
  background-color: var(--clr-paleBlue);
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.mainContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  max-width: 100%;
  border-radius: 1.1rem;
  margin: 25% 35.6%;
  background-color: white;
  transform: scale(1.5, 1.5);
}

.stats-card_left{
  display: flex;
  text-align: center;
  max-width: 100%;
  background-image: linear-gradient(var(--gra-lightSlateBlue), var(--gra-lightRoyalBlue));
  color: white;
  border-radius: 1.1rem;
}

.result{
  margin: 18px;
  color: var(--clr-lightLavender);
  font-size: 11px;
  font-weight: 600;
}

.circle{
  width: 55%;
  max-width: 150px;
  aspect-ratio: 1/1;
  background-image: linear-gradient(var(--gra-violetBlue), var(--gra-persianBlue));
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: -5px auto;
  margin-bottom: 10px;
}

.score{
  font-size: 40px;
}

.score-total{
  color: var(--clr-lightLavender);
  font-size: 8.5px;
  opacity: 50%;
  margin-top: -8px;
}

.great{
  font-size: 15px;
  font-weight: 470;
  margin-bottom: -3px;
  margin-top: -2px;
}

.info{
  font-weight: normal;
  color: var(--clr-lightLavender);
  font-size: 8px;
  padding: 10px;
  margin: auto 20px;
  margin-bottom: 14px;
}

.stats-card_right{
  margin: 16px 20px;
}

.summary{
  font-size: 11.5px;
  color: var(--clr-darkGrayBlue);
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 3px;
  border-radius: 5px;
  width: 100%;
  font-size: 8.5px;
  margin: 8px auto;
}

.cA{
  justify-content:space-between;
  background-color: hsla(0, 100%, 67%, 0.07);
}

.reactionImg{
  transform: scale(0.5, 0.5);
}

.reaction{
  color: hsla(0, 100%, 67%, 0.8);
  margin-right: 41px;
}

.cB{
  justify-content: space-between;
  background-color: hsla(39, 100%, 56%, 0.07);
}

.memory{
  color: hsla(39, 100%, 56%, 0.8);
  margin-right: 41px;
}

.cC{
  justify-content: space-between;
  background-color: hsl(168, 86%, 30%, 0.07);
}

.verbal{
  color: hsla(168, 84%, 36%, 0.8);
  margin-right: 47px;
}

.cD{
  justify-content: space-between;
  background-color: hsl(249, 85%, 45%, 0.07);
}

.visual{
  color: hsl(249, 85%, 45%, 0.8);
  margin-right: 47px;
}

span{
  color: var(--clr-darkGrayBlue);
  opacity: 50%;
}


/** Attribution CSS **/
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }